<h1>Profile</h1>

<p id="notice">
  <%= notice %>
</p>
<% if @student.image.attached? %>
  <%= render "student/dashboard/image", image:current_student.image %>
<% end %>

<%= Time.now %>
<p>ID: <%= current_student.id %></p>
<p>Name: <%= current_student.name %></p>
<p>FatherName: <%= current_student.father_name %></p>
<p>Email: <%= current_student.email %></h1>
<p>PhoneNumber: <%= current_student.phone_number %></p>
<p>Date of Birth: <%= current_student.dob %></p>
<p>Batch Number: <%= current_student.batch_id %></p>
<p>Current Semester Type: <%= current_student.semesters.last.semester_type%></p>
<p>Current Semester: <%= current_student.semesters.last.semester_number%></p>
<%= form_with url: upload_image_student_dashboard_index_path do |f| %>
  <%= f.file_field :image %>
  <%= f.submit "Upload" %>
<% end %>

<%= form_with url: change_password_student_dashboard_index_path do |f| %>
  <div class="field">
    <%= f.label :current_password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Update Password"%>
  </div>

<%  end  %>

<%= link_to "Back", student_root_path %>